@font-face {
  font-family:"SFProDisplay";
  src:url("fonts/SFProDisplay-Regular.eot");
  src:local("☺"), 
      url("../fonts/SFProDisplay-Regular.woff") 
      format("woff"), 
      url("../fonts/SFProDisplay-Regular.ttf") 
      format("truetype"), 
      url("../fonts/SFProDisplay-Regular.svg") 
      format("svg");
  font-weight:400;
  font-style:normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, form, button, input, textarea, ul, li {
  font-family: "SFProDisplay";
}

a {
  text-decoration: none;
}

a::after {
  text-decoration: none;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  font-family: "SFProDisplay";
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

.content2 {
  max-width: 870px;
  margin: 0 auto;
}

.content3 {
  max-width: 1070px;
  margin: 0 auto;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color-1: #007AFF;
  --yellow-color-1: #FACC56;
  --yellow-color-2: #FFE589;
  --text-color-1: #222222;
  --text-color-2: #363636;
  --text-color-3: #9C9C9C;
  --text-color-4: #636363;
  --line-color-1: #E0E0E0;
  --bg-color-1: #E9F3FF;
  --bg-color-2: #EDF5FF;
  --bg-color-3: #F8F8F8;
  --bg-color-3: #EFF6FF;
  --bg-color-4: #F3F9FF;
}

header {
  background: var(--bg-color-1);
}

header .content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#header__logo-icon{
  margin: 0 10px 0 0;
}

#header__logo-text{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  letter-spacing: 0.01em;
  color: var(--blue-color-1);
  margin: 0;
  text-decoration: none;
}

.header__menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header__menu ul li{
  margin: 0 17px;
}
.header__menu ul li a{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color-1);
  text-decoration: none;
}

#header__button {
  font-family: "SFProDisplay";
  padding: 15px 46px;
  border: 1px solid #007AFF;
  box-sizing: border-box;
  border-radius: 30px;
  background: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.01em;
  color: var(--black-color);
  margin: 0 15px 0 0;
}

.header__language {
  display: flex;
  align-items: center;
}

#header__lang_items {
  margin: 0 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: var(--text-color-2);
  opacity: 0.72;
}

#header__lang_items:hover{
  color: var(--text-color-1);
  opacity: 1;
  text-decoration: none;
}

.header__adaptive {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu_burger {
  display: none;
}

main {
  background: url(../img/bg-img1.png);
  background-color: var(--bg-color-1);
  background-size:cover;
  position: relative;
}

main  .content2 {
  padding: 110px 0 158px 0;
  text-align: center;
}

#main__gift {
  position: absolute;
  right: 80px;
}

#main__title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: var(--blue-color-1);
  margin: 0 0 16px 0;
}

#main__subtitle {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--text-color-2);
  padding: 0 200px;
  margin: 0 0 48px 0;
}

#main__button {
  padding: 21px 77px;
  font-family: "SFProDisplay";
  border-radius: 30px;
  background: var(--blue-color-1);
  border: none;
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  letter-spacing: 0.01em;
}

.main__modal {
  display: none;
  position: fixed;
  z-index: 15;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.main__modal_content {
  background-color: var(--white-color);
  margin: auto;
  padding: 18px;
  border: 0;
  width: 306px;
  border-radius: 20px;
  text-align: left;
}

.main__modal_close {
  float: right;
  top: 0;
}

.main__modal_close:hover,
.main__modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#main__modal_title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 16px 0;
}

#main__modal_form {
  position: relative;
}

#main__modal_name, #main__modal_phone {
  width: 280px;
  margin: 0 0 13px 0;
  padding: 12px 13px;
  color: var(--text-color-1);
  border-radius: 10px;
  border: 0;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}

.main__modal_container {
  display: block;
  position: relative;
  padding: 2.5px 0 0 35px;
  margin: 0 0 20px 0;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;

}

.main__modal_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.main__modal_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 20px;
  background: none;
  border-radius: 3px;
  border: 1px solid #9c9c9c;
}

.main__modal_container input:checked ~ .main__modal_checkmark {
  background-color: var(--blue-color-1);
  border: 1px solid var(--blue-color-1);
}

.main__modal_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.main__modal_container input:checked ~ .main__modal_checkmark:after {
  display: block;
}

.main__modal_container .main__modal_checkmark:after {
  left: 5px;
  top: 2px;
  width: 8px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}

#main__modal_button {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 135%;
  color: var(--white-color);
  background-color: var(--blue-color-1);
  border: none;
  padding: 13px 56px;
  border-radius: 30px;
}

.about .content {
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#about__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  /* or 50px */
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-color-1);
  margin: 0 0 40px 0;
}

.about__content {
  display: flex;
  background: var(--yellow-color-2);
  border-radius: 16px;
  position: relative;
  height: 700px;
  justify-content: center;
}

.about__content_images {
  display: flex;
  justify-content: space-between;
}

#about__image1 {
  position:absolute;
  left: 0;
  bottom: 0;
}

#about__image2{
  position:absolute;
  right: 0;
  bottom: 22px;
}

#about__play {
  /* position: absolute; */
  align-items: center;
  z-index: 5;
}

.about__content button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  border-radius: 50%;
  border: none;
  background: none;
}

#about__paperair {
  position: absolute;
  top: 40px;
  right: -85px;
}

.services {
  background-color: var(--bg-color-2);
} 

.services .content {
  padding: 80px 0;
  display: flex;
}

.services__left_content {
  margin: 0 30px 0 0;
  width: 60%;
}

#services_left_title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 22px 0;
}

#services_left_title span{
  color: var(--blue-color-1);
}

#services_left_subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
}

#services__form_title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: var(--black-color);
}

#services__steps_form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services__form_numbers {
  text-align:left;
  margin: 30px 0;
  display: flex; 
  align-items: center;
}

#services__form_input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

#services__form_input.services__invalid {
  background-color: #b31010;
  box-sizing: border-box;
}

#services__form_tab_title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: var(--black-color);
  margin: 0 0 20px 0;
}

#services__form_radio {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--text-color-1);
}

.services__form_tab {
  display: none;
  box-sizing: border-box;
}

.services__form_tab_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
  margin: 0 0 16px 0;
}

.services__radio_container {
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px;
  margin: 0;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 12px;
}

.services__radio_container input {
  position: absolute;
  opacity: 0.001;
  cursor: pointer;
  left: 5px;
  width: 100%;
  height: 100%;
  z-index: 11;
}


.services__radio_container input:checked ~ .services__radio_container{
  background-color: #D2E6FF;
}

.services__form_checkmark {
  position: absolute;
  top: 13px;
  left: 12px;
  height: 28px;
  width: 28px;
  background: none;
  border-radius: 7px;
  border: 1px solid #222222;
}

/* .services__radio_container:hover input ~ .services__form_checkmark {
  background-color: #ccc;
} */

.services__radio_container input:checked ~ .services__form_checkmark {
  border: 1px solid var(--blue-color-1);
}

.services__form_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.services__radio_container input:checked ~ .services__form_checkmark:after {
  display: block;
}

.services__radio_container .services__form_checkmark:after {
  left: 8px;
  top: 6px;
  width: 10px;
  height: 10px;
  border: solid var(--blue-color-1);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}

#services__form_nextBtn {
  background-color: var(--blue-color-1);
  color: #ffffff;
  border: none;
  padding: 16px 59px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.01em;
  margin: 0;
}

#services__form_nextBtn:hover {
  opacity: 0.8;
  box-sizing: border-box;
}

#services__form_prevBtn {
  background: none;
  color: var(--blue-color-1);
  border: 1px solid var(--blue-color-1);
  padding: 16px 59px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.01em;
  margin: 0 10px 0 0;
}

#services__form_text {
  width: 100%;
  margin: 0;
  padding: 18px 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color-1);
  border: 1px solid var(--blue-color-1);
  border-radius: 10px;
  outline: none;
}

.services__step {
  margin: 0 16px 0 0;
  padding: 17px 22px;
  background: none;
  border: 1px solid var(--blue-color-1);  
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 106%;
  color: var(--blue-color-1);
}

#services__step_line {
  height: 1px;
  margin: 0 16px 0 0;
  background-color: var(--blue-color-1);
  opacity: 1;
  width: 55px;
}

.services__step.services_active {
  opacity: 1;
  box-sizing: border-box;
  background: var(--blue-color-1);;
  border: 1px solid var(--blue-color-1);
  color: var(--white-color);
}

.services__step.services_active #services__step_checkmark path{
  fill: var(--white-color);
}

.services__step.services__finish {
  box-sizing: border-box;
}



.services__right_content {
  padding: 30px;
  background: var(--white-color);
  border-radius: 16px;
  width: 50%;
}

#services_right_title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: var(--black-color);
  margin: 0 0 16px 0;
}

#services_right_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: var(--black-color);
  margin: 0 0 30px 0;
}

.services__right_info {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

#services__info_img {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

#services__manager_name {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */
  letter-spacing: 0.01em;
  color: var(--text-color-1);
  margin: 0 0 10px 0;
}

#services__manager_status {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */
  letter-spacing: 0.01em;
  color: var(--text-color-1);
}

.services_right_telegram {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

#services_right_tg_img {
  margin: 0 15px 0 0;
}

#services_right_tg_text {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: var(--text-color-1);
  margin: 0;
  text-decoration: none;
}

.services_right_whatsapp {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

#services_right_wa_img {
  margin: 0 15px 0 0;
}

#services_right_wa_text {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: var(--text-color-1);
  margin: 0;
}

.about2 .content {
  padding: 80px 0;
  text-align: center;
}

#about2__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue-color-1);
  margin: 0 0 40px 0;
}

.about2__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  margin: 0 0 50px 0;
}

#about2__content_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0 20px 0;
}

#about2__content_title {
  font-family: SF Pro Display;
  font-style: bold;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  text-align: center;
  color: var(--black-color);
  margin: 0 0 15px 0;
}

#about2__content_subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */
  text-align: center;
  color: var(--black-color);
  margin: 0;
}

#about2__button {
  padding: 21px 77px;
  border-radius: 30px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  letter-spacing: 0.01em;
  color: var(--white-color);
  background-color: var(--blue-color-1);
  border: none;
}

.about2__content_swiper {
  margin: 0 0 40px 0;
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about2Swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 60px 0;
}

.about2Swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about2Swiper .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}


.our_works .content {
  padding: 80px 0;
}

.our_works__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#our_works__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */
  letter-spacing: 0.01em;
  text-transform: uppercase; 
  color: var(--blue-color-1);
  margin: 0;
}

.our_works__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}

.our_works__content_items {
  position: relative;
}

.our_works__content_hover {
  position:absolute;
  display: none;
  opacity: 70%;
}

#our_works__content_hover {
  width: 100%;
  height: 100%;
}

.our_works__content_items:hover .our_works__content_hover {
  display: block;
  z-index: 5;
  justify-content: center;
  text-decoration: none;
}

#our_works__content_view {
  position: absolute;
  border-radius: 50%;
  text-transform: uppercase;
  padding: 52px 19px;
  background:none;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.01em;
  left: 37%;
  top: 37%;
  z-index: 10;
}

#our_works__content_img {
  width: 100%;
  height: 100%;
}

.our_works__content_titles {
  position:absolute;
  bottom: 0;
  padding: 25px;
}

#our_works__content_title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  letter-spacing: 0.01em;
  color: var(--white-color);
  margin: 0 0 5px 0;
}

#our_works__content_subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  letter-spacing: 0.01em;
  color: var(--white-color);
  margin: 0;
}

.rates {
  position: relative;
}

.rates .content {
  padding: 110px 0 85px 0;
  position: relative;
}

#rates__cloud {
  position: absolute;
  top: 140px;
  right: -45px;
}

.rates__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#rates__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue-color-1);
  margin: 0;
}

.rates__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.rates__content_items {
  padding: 52px 35px 65px 35px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.03), 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 15px 40px rgba(0, 0, 0, 0.03), 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.rates__content_items:hover {
  border: 2px dashed var(--blue-color-1);
}

#rates__content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  color: var(--blue-color-1);
  text-align: center;
  margin: 0 0 30px 0;
}

#rates__content_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  text-align: center;
  color: var(--blue-color-1);
  margin: 0 0 30px 0;
}

.rates__content_list {
  list-style-type: circle;
  margin: 0 0 23px 0;
  text-align: left;
}
.rates__content_list::before {
  color: var(--blue-color-1);
}
.rates__content_list li{
  color: var(--blue-color-1);
  margin: 10px 0;
}
.rates__content_list li span{
  color: var(--black-color);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}
.rates__content_list #gray_item, .rates__content_list #gray_item span{
  color: var(--text-color-3);
}

#rates__content_price {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: var(--blue-color-1);
  text-align: center;
  margin: 0 0 33px 0;
}

#rates__content_price #tenge {
  font-size: 30px;
}
#rates__content_price #price_month {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  text-align: center;
  letter-spacing: -0.03em;
}

#rates__content_button {
  font-family: "SFProDisplay";
  text-align: center;
  padding: 19px 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--blue-color-1);
  border-radius: 30px;
  border: none;
}

#rates__gift1 {
  position:absolute;
  bottom: 330px;
  right: 50px;
}
#rates__gift2 {
  position:absolute;
  top: 305px;
  right: 50px;
}

.opportunities {
  background-color: var(--bg-color-2);
}

.opportunities .content {
  padding: 80px 0;
  text-align: center;
}

.opportunities__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#opportunities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue-color-1);
  margin: 0;
}

.opportunities__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 0 40px 0;
}

#opportunities__icon {
  margin: 0 0 15px 0;
}

#opportunities__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color-1);
  margin: 0;
}

#opportunities__button {
  padding: 21px 77px;
  background-color: var(--blue-color-1);
  color: var(--white-color);
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  letter-spacing: 0.01em;
  border-radius: 30px;
  border: none;
}

.reviews {
  padding: 80px 20px;
}

.reviews__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#reviews__title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--blue-color-1);
  margin: 0;
}

.reviews__slider {
  
}

.reviews__images {
  position: relative;
  border-radius: 16px;
 
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

.reviews__images button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reviews__images_play {
  z-index: 10;
}
#reviews__images_effect {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 30%;
  border-radius: 16px;

}
#reviews__images_avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;

}

#reviews__text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 9px 0;
}

#reviews__subtext {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-4);
  margin: 0;
}

.modal-body {
  position:relative;
  padding:0px;
}

.modal-dialog {
  max-width: 800px;
  margin: 0px auto;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.modal {
  position: fixed;
  top: 78px;
  left: 0px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}


.swiper-container .swiper-wrapper {
  width: 100%;
  
}

.contacts {
  background-color: var(--bg-color-4);
  padding: 80px 0 0 0;
}

.contacts__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: var(--blue-color-1);
  text-transform: uppercase;
  margin: 0;
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 130px;
  margin: 0 0 30px 0;
}

#contacts__content_title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color-3);
  margin: 0 0 15px 0;
  
}

#contacts__content_subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: var(--black-color);
  margin: 0;
}
  
#contacts__maplink {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

#contacts__maplink p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--blue-color-1);
  margin: 0 10px 0 0;
}

/* FOOTER */
footer {
  background: var(--bg-color-3);
}

footer .content {
  padding: 55px 0;
}

.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 58px 00;
}

.footer__social {
  display: flex;
}

#footer__social_items {
  margin: 0 10px;
}

.footer__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__storeapp {
  display: flex;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.03)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.02));
}

#footer__allrights{
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-1);
}

.footer__playstore {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--white-color);
  border-radius: 12px 0px 0px 12px;
  margin: 0 1px 0 0;
}

#footer__playstore_img {
  margin: 0 10px 0 0;
}

#footer__playstore_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.3px;
  color: var(--black-color);
  margin: 0;
}

.footer__appstore {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--white-color);
  border-radius: 0px 12px 12px 0px;
}

#footer__appstore_img {
  margin: 0 10px 0 0;
}

#footer__appstore_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.3px;
  color: var(--black-color);
  margin: 0;
}

.footer__developer {
  display: flex;
  align-items: center;
}

.footer__developer a{
  margin: 0;
  padding: 0;
}

#footer__developer_text {
  margin: 0 10px 0 0;
}

/* ADAPTIVE STYLE */
@media (max-width: 1200px) {
  #about__paperair {
    position: absolute;
    top: 40px;
    right: 0px;
  }

  #rates__cloud {
    position: absolute;
    top: 140px;
    right: 0px;
  }
  .contacts {
    padding: 80px 20px 0 20px;
  }
}

@media (max-width: 1024px) {
  .content {
    max-width: 960px;
    margin: 0 auto;
  }

  .header__container {
    display: none;
  }

  .header__adaptive {
    display: block;
    position: absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0 1rem;
    text-align: left;
    background-color: var(--white-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    z-index: 100;
  }

  .menu_burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .menu_burger span,
  .menu_burger::before,
  .menu_burger::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: var(--text-color-1);
  }
  .menu_burger::before,
  .menu_burger::after {
      content: "";
  }
  .menu_burger::before {
      top: 0;
  }
  .menu_burger::after {
      bottom: 0;  
  }
  .menu_burger span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
  }
  .menu_burger.__active span {
      transform: scale(0) translate(0px, -50%);
  }
  .menu_burger.__active::before {
      top: 50%;
      transform: rotate(-45deg) translate(2px, -50%);
  }
  .menu_burger.__active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, -50%);
  }

  .___active {
      top: 100px;
  }

  .header__adaptive:hover header{
      background-color: var(--white-color);
  }  

  .header__adaptive .header__language {
    align-items: center;
    padding: 20px;
    margin: 0 0 20px 0;
  }
  .header__adaptive .header__language #header__lang_items{
    font-size: 16px;
  }
  .header__adaptive .header__menu ul {
    align-items: flex-start;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0  ;
  }
  .header__adaptive .header__menu {
    
  }
  .header__adaptive .header__menu ul li {
    margin: 0 0 20px 0;
  }
  .header__adaptive .header__menu ul li a{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-color-1);
    text-decoration: none;
  }
  .header__adaptive #header__button{
    font-family: "SFProDisplay";
    padding: 15px 46px;
    border: 1px solid #007AFF;
    box-sizing: border-box;
    border-radius: 30px;
    background: var(--blue-color-1);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    letter-spacing: 0.01em;
    color: var(--white-color);
    margin: 0 0 50px 20px;
    align-self: start;
  }

  .header__contacts {
    margin: 0 0 0 20px;
  }

  #header__contacts_phone {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 135%;
    color: var(--black-color);
    margin: 0 0 20px 0;
  }

  .header__contacts_phone {
    margin: 0 0 20px 0;
  }

  .header__contacts_phone a {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: var(--blue-color-1);
  }

  .header__contacts_tg, .header__contacts_wa {
    margin: 0 20px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    color: var(--blue-color-1);
  }

  #header__contacts_tg, #header__contacts_wa {
    margin: 0 10px 0 0;
  }

  .footer__up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 58px 00;
  }

  .footer__up .header__logo {
    margin: 0 0 20px 0;
  }

  .footer__up .header__menu ul {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
  }

  .footer__up .header__menu ul li{
    margin: 0 0 10px 0;
  }
}

@media (max-width: 900px) {
  .content {
    max-width: 850px;
    margin: 0 auto;
  }

  #about__paperair {
    position: absolute;
    top: 124px;
    right: -13px;
  }

  .rates__content_items {
    padding: 52px 15px 65px 15px;
  }

  .services__left_content {
    margin: 0 30px 0 0;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 700px;
    margin: 0 auto;
  }

  main {
    background-size: contain;
  }

  .about__content {
    height: 500px;
  }
  .about__content button {
    height: 500px;
  }

  #about__image1 {
    width: 65%;
  }
  #about__image2{
    width: 33%;
  }

  .about2__content {
    display: none;
  }

  .about2__content_swiper {
    margin: 0 0 40px 0;
    display: block;
  }
  

  .services .content {
    display: flex;
    flex-direction: column;
  }

  .services__left_content {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .services__right_content {
    width: 100%;
  }

  .our_works__content {
    grid-template-columns: 1fr;
  }

  .rates__content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 20px;
  }

  .rates__content_items {
    padding: 52px 35px 65px 35px;
  }

  .opportunities__content {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__content {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  footer .content {
    padding: 55px 0;
    margin: 0 20px;
  }

  .footer__down {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__storeapp, .footer__developer {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 700px) {
  .content {
    max-width: 650px;
    margin: 0 auto;
  }

  #about__paperair {
    position: absolute;
    top: 124px;
    right: 0px;
  }
}

@media (max-width: 600px) {
  .content {
    max-width: 550px;
    margin: 0 auto;
  }

  #main__title {
    font-size: 50px;
  }

  #main__subtitle {
    padding: 0 140px;
  }
}

@media (max-width: 540px) {
  .content {
    max-width: 490px;
    margin: 0 auto;
  }
  
  #main__title {
    font-size: 40px;
  }
  #main__subtitle {
    font-size: 18px;
    padding: 0 100px;
  }

  .about__content {
    height: 350px;
  }
  .about__content button {
    height: 350px;
  }

  #services__form_tab_title {
    font-size: 20px;
  }

  .services__form_tab_items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .content {
    max-width: 400px;
    margin: 0 auto;
  }
  #our_works__content_view {
    left: 35%;
    top: 35%;
    font-size: 16px;
    padding: 42px 19px;
  }
}

@media (max-width: 414px) {
  .content {
    max-width: 360px;
    margin: 0 auto;
  }

  #about__title, #services_left_title, #about2__title, 
  #our_works__title, #opportunities__title,
  #reviews__title, #contacts__title {
    font-size: 30px;
  }

  .services__step {
    margin: 0 8px 0 0;
  }

  #services__step_line {
    margin: 0 8px 0 0;
  }

  #about2__button  {
    padding: 21px 25px;
    font-size: 20px;
  }

  #our_works__content_title {
    font-size: 20px;
  }

  #our_works__content_subtitle {
    font-size: 16px;
  }

  #rates__cloud {
    width: 30%;
  }

  #rates__content_button {
    padding: 19px 30px;
  }

  #rates__gift1  {
    bottom: 305px;
  }

  #rates__gift2 {
    top: 368px;
  }

  #opportunities__button  {
    padding: 21px 46px;
  }

  #our_works__content_view {
    left: 33%;
    top: 33%;
    font-size: 16px;
    padding: 42px 19px;
  }
}

@media (max-width: 375px) {
  .content {
    max-width: 320px;
    margin: 0 auto;
  }

  #main__title {
    font-size: 36px;
  }

  #main__subtitle {
    font-size: 18px;
    padding: 0 50px;
  }

  #main__button {
    padding: 21px 50px;
  }

  #about__paperair {
    width: 30%;
    top: 160px;
  }

  .about__content {
    height: 230px;
  }
  .about__content button{
    height: 230px;
  }

  #services__manager_name {
    font-size: 18px;
  } 

  #services__manager_status {
    font-size: 16px;
  }

  #rates__content_button {
    padding: 16px 20px;
  }

  .rates__content_items {
    padding: 52px 15px 65px 15px;
  }

  #footer__playstore_text, #footer__appstore_text {
    font-size: 15px;
  }
  
  #our_works__content_view {
    left: 31%;
    top: 31%;
    font-size: 16px;
    padding: 42px 19px;
  }
}

@media (max-width: 320px) {
  .content {
    max-width: 290px;
    margin: 0 auto;
  }

  #header__logo-text {
    font-size: 11px;
  }

  #services_left_title {
    font-size: 25px;
  }

  #services_right_title {
    font-size: 21px;
  }

  #services_right_subtitle {
    font-size: 17px;
  }

  #services_right_tg_text, #services_right_wa_text {
    font-size: 20px;
  }

  .opportunities__content {
    grid-template-columns: 1fr;
  }

  #our_works__content_view {
    left: 31%;
    top: 31%;
    font-size: 14px;
    padding: 38px 19px;
  }

  .header__contacts_social_items {
    display: flex;
    flex-direction: column;
  }

  .header__contacts_tg, .header__contacts_wa {
    margin: 0 0 20px 0;
  }
}